/* Move down content because we have a fixed navbar that is 50px tall */
body {

  position: relative;
}

ul.nav{
font-family: 'Open Sans', sans-serif;
}
.jumbotron{
  text-align: center;
    background-image: url(..//images/bkg_code.jpg);
    color: white;
}

.btn-lg{
font-size: 36px;
}
.base p{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 300px;
  color: whitesmoke;

}
.container-row{
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
 .contactinfo ul li a, .org ul li a{
  font-size: 18px;
  color: #696763;
  font-family: 'Roboto', sans-serif;
  list-style: none;
  font-weight: 300px;

 }
.message p{
  text-transform: lowercase;
}

.alert {
  text-transform: lowercase;
}
#footer{
    padding-top: -15px;

}
.style{
  padding-bottom: 0px;
}
.footer-top{
  margin-bottom: 68px;
}
.row p{
  text-align: center;
}
.panel-body p{
  text-align: center;
  padding-top: 45px;
  padding-bottom: 0px;
  font-weight: 300;
  font-size: x-large;
  margin-bottom: -85px;
}

.panel{
    margin-bottom: 180px;
  background-color: #ffffff;
  border: 1px solid #DDD;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.panel-heading{
  text-align: center;
  padding-bottom: 25px;
}

.p-btn{
  text-align: center;
  padding: 1%;
}
#row-blade{
  padding-top: 100px;
}
.panel-body{
  margin-bottom: 120px;
}

#get-involved{
background-color: #f5f5f5;
}
.jumbotron h1
{
font-family: "Open Sans", sans-serif;
    margin-top: 0px;
    margin-bottom: 50px;
}
ul li {
  list-style: none;
}

.active ul li {
color: #e74c3c;
}
.jumbotron p{
    font-weight: 100;
 margin-bottom: 30px;
    padding: 0 30px;
    font-family: 'Roboto', sans-serif;
}

.jumbotron p em{
color: #e74c3c;
}

.col-md-4 h3{
  text-transform: uppercase;
    color: #e74c3c;
}

.col-md-4 p{

font-size: 17px;
}

.col-md-9 p{
    text-align: justify;
}

.info h2, .org h2, .news-letter h2{
  font-size: 21px;
  color: #e74c3c;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
}
 

.col-md-6 p{
  text-align: justify;
}
.homepage
{
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
}

.login-form h2, .signup-form h2{
color: #696763;
font-family: "Roboto",sans-serif;
font-size: 20px;
font-weight: 300;
margin-bottom: 30px;

}

.page{border: 1px solid #F7F7F0;

padding-right: 10px;
padding-top: 10px;
padding-left: 10px;
padding-bottom: 37px;
}

.stack {border: 1px solid #F7F7F0;
    text-align: center;
}
.join{padding-bottom: 30px;
padding-top: 30px;
}
.contactinfo ul li:first-child {
  margin-left: -15px;
}

.header_top{
    background: none repeat scroll 0 0 #F0F0E9;
}

.login-form form input, .signup-form form input, .news-letter form input{
background: #F0F0E9 none repeat scroll 0% 0%;
border: medium none;
color: #696763;
display: block;
font-family: "Roboto",sans-serif;
font-size: 14px;
font-weight: 300;
height: 40px;
margin-bottom: 10px;
outline: medium none;
padding-left: 10px;
width: 100%;
}
.social-icons ul li a {
  border: 0 none;
  border-radius: 0;
  color: #696763;
  padding: 10px 15px;
}
.login-form form span input {
width: 15px;
float: left;
height: 15px;
margin-right: 5px;
}

.login-form form button, .signup-form form button {
    background: #e74c3c none repeat scroll 0% 0%;
    border: medium none;
    border-radius: 0px;
    color: #FFF;
    display: block;
    font-family: "Roboto",sans-serif;
    padding: 6px 25px;
}

.login-form form button{
margin-top: 25px;
}

#form{
display: block;
    margin-top: 120px;
    margin-bottom: 75px;
        overflow: hidden;
}

#form p{
text-align: center;
font-size: 30px;
text-transform: uppercase;
margin-right: 70px;
color: #e74c3c;

}
.footer-bottom{
  padding-top: 10px;
  background-color: #e74c3c;
  font-family: 'Roboto', sans-serif;
  color: whitesmoke;
}
.fa-twitter{
  font-size: larger;
}
.soc span{
  margin-left: 16px;
}
ul.sub-menu{
 position: absolute;
  top: 30px;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  list-style: none;
  padding: 0;
  margin: 0;
  width: 220px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  display: none;
  z-index: 999;
}
.fa-angle-down{
  padding-left: 5px;
  font-size: large;
}
.or {
    background: #e74c3c none repeat scroll 0% 0%;
    border-radius: 40px;
    color: #FFF;
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    margin-top: 75px;
    text-align: center;
    width: 50px;
}
.social-links{
    padding: 0px;
    margin: 0px;
    display: block;
    overflow: hidden;
list-style: outside none none;
}
.social-links li{
float: right;
    margin-right: 4px;
}
.social-links1 li{
float: right;
    margin-right: 4px;
    padding-top: 0px;
}
.social{
  float: right;
  padding-top: 0px;
}
.social-links span{
background: transparent none repeat scroll 0% 0%;
}
.homepage h2, .homepage h3
{
font-family: 'Open Sans', sans-serif;
    color: #e74c3c;
    text-transform: uppercase;
}
.homepage h2{
    font-size: 30px;
    text-align: center;
}

.join h2
{font-size: 30px;
text-align: center;
color: #e74c3c;
font-family: 'Roboto',sans-serif;
}


.homepage h3{
    font-size: 26px;
}

.homepage p{
 font-size: 21px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
 }

 .join p,.info p
 {font-size: 19px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}
.info p{
  border: 1px solid #F7F7F0;
  padding: 10px 10px 30px 10px;
}
.homepage a{
 color: #e74c3c;
}
.homepage hr{
 border-top: 1px solid;
    margin-top: 15px;
    border-color: #e74c3c;
    width: 160px;
}

.entrepreneur{
    padding top: 30px;
}